@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<br />

    <div class="container">
        <div class="jumbotron">
            <p>
                Beyza TAŞ 172803014 <a class="text-muted" href="mailto:beyzavtas@gmail.com">beyzavtas@gmail.com</a> <br />
                Aynur GÜN 172802011 <a class="text-muted" href="mailto:aynur.gunn@hotmail.com">aynur.gunn@hotmail.com</a> <br />
                Serhat YAREN 182803062 <a class="text-muted" href="mailto:serhat.yaren09@gmail.com">serhat.yaren09@gmail.com</a> <br />
                Mohammad Mehdi MADAHZADEZOGHI 172802061 <a class="text-muted" href="mailto:madahzadeh18@gmail.com">madahzadeh18@gmail.com</a> <br />
                Turhan ALPER 152803008 <a class="text-muted" href="mailto:turhanalper07@mail.com">turhanalper07@mail.com</a> <br />
                Celal UTUŞ 162803016<a class="text-muted" href="mailto:cllutus@gmail.com">cllutus@gmail.com</a>
            </p>
        </div>
    </div>
