<div class="jumbotron text-dark " style="padding:20px; background-color: lightgray;">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <h4>HAZIRLAYANLAR</h4>
                <ul class="list-unstyled">
                    <li>Aynur Gün</li>
                    <li>Beyza Taş</li>
                    <li>Turhan Alper</li>
                    <li>Mohammad Mehdi Madahzadezoghı</li>
                    <li>Serhat Yaren</li>
                    <li>Celal Utuş</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>BİZE DESTEK OLUN</h4>
                <p>Geri Bildirimde Bulunun</p>
                <a class="text-muted" href="mailto:beyzavtas@hotmail.com">beyzavtas@hotmail.com</a>
            </div>
        </div>
    </div>
</div>